.canvas{
    width: 50%;
    height: 50%;
    background-color: #000;
    position: absolute;
   font-size: 12px;
    text-align: center;
    z-index: -1;
    color: #fff;
    margin : auto;
    padding: 10px;
}
#message{
    color: rgb(79, 158, 4);
    font-size: 50px;
    font-weight: bold;
}
button{
    background-color: rgb(79, 158, 4);
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
}
button:hover{
    background-color: #fff;
    color: rgb(79, 158, 4);
}
body{
    background-color: rgb(161, 12, 12);
}